{% extends 'base.html' %}

<h1>{% block title %}Home{% endblock %}</h1>

{% block header %}
    <p>
        Type a prompt below, the app will ask Open AI via a Chat Completion to answer the question 4 times. The
        responses are returned with a level of confidence between 1 and 100 and the answer(s) with the highest
        confidence are highlighted.
    </p>
{% endblock %}

{% block content %}

    <form method="post">
        <label for="prompt">Original prompt</label>
        <textarea name="prompt" id="prompt" required>{{ prompt }}</textarea>
        <input type="submit" value="Go">
    </form>

    <div class="replies">
        {% for reply in prompt_replies %}
            <article class="reply {{ 'best' if best_id == reply['number'] }}">
                <header>
                    <div>
                        <h1>{{ reply['confidence'] }}%</h1>
                    </div>
                </header>
                <p class="body">{{ reply['answer'] }}</p>
            </article>
            {% if not loop.last %}
                <hr>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}